.navbar-css {
    background-color: #F70D1A;
    margin-bottom: 3em;
}

.navbar-css .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;

}

.squad-button {
    background-color: #3abb43;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}
